jupyterlab
pyarrow
pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
wget
konlpy
python-mecab-ko
imblearn
xgboost
lightgbm 
pyLDAvis

python-multipart
pydantic-settings

selenium
chromedriver-autoinstaller
webdriver_manager